#DirectoryIndex source/index.php

# Конфиг МОЕГО сервера запрещает доступ к файлам, начинающимся с ".ht" (типа .htaccess, .htpasswd)
# Но на всякий случай можно явно указать здесь.
#<FilesMatch "^\.ht">
#    deny from all
#</FilesMatch>

DefaultLanguage ru

#ErrorDocument 401 /errors/handler.php?er=401
#ErrorDocument 403 /errors/handler.php?er=403
#ErrorDocument 404 /errors/handler.php?er=404
#ErrorDocument 500 /errors/handler.php?er=500


RewriteEngine On
RewriteBase /
# Если запрос не совпадает с перечисленным - отправлять его в index.php
# Это быстрее, чем классическая проверка "не файл|не каталог". К тому же запретит прямое обращение к скриптам.
RewriteCond %{REQUEST_URI} !^/(index\.php|images|files|view/assets|robots\.txt|sitemap\.xml)
RewriteRule .* index.php [L,QSA]
