<!DOCTYPE html>
<HTML lang='ru'>
<head>
    <meta charset="utf-8">
    <title><?=$this->title;?></title>
    <link href="<?=ASSETS_URL . 'style.css';?>" rel="stylesheet" type="text/css" />
    <script src="<?=ASSETS_URL . 'i18n/'. core\App::detectLang() . '.js';?>"></script>

    <script src="<?=ASSETS_URL . 'jquery-2.1.4.min.js';?>"></script>
    <script src="<?=ASSETS_URL . 'jquery.cookie.js';?>"></script>
    <!-- JQuery UI. Маленькая сборка. Только datepicker -->
    <script src="<?=ASSETS_URL . 'jquery-ui-1.11.4.custom/jquery-ui.min.js';?>"></script>
    <link href="<?=ASSETS_URL . 'jquery-ui-1.11.4.custom/jquery-ui.min.css';?>" rel="stylesheet" type="text/css" />

    <script src="<?=ASSETS_URL . 'common.js';?>"></script>
</head>
<body>

	<div id='base'>
		<div id='header'>
		    <? $lang = (isset($_COOKIE['lang'])) ? $_COOKIE['lang'] : 'ru'; ?>
		    <div class='top-menu-left'>
		        <?=core\App::t('Язык');?>
		        <select id='cmbLang'>
				    <option value="ru" <?if ($lang=='ru') echo 'selected';?>>русский</option>
				    <option value="en" <?if ($lang=='en') echo 'selected';?>>english</option>
		        </select>
		    </div>

		    <div class='top-menu-right'>
	            <? if ($this->userId): ?>
			        <a href="<?=$this->urls['logout'];?>"><?=core\App::t('Выйти');?></a>
			        / <a href="<?=$this->urls['profile'];?>"><?=core\App::t('Личный кабинет');?></a>
		        <? else: ?>
                    <a href="<?=$this->urls['login'];?>"><?=core\App::t('Вход');?></a>
                    / <a href="<?=$this->urls['reg'];?>"><?=core\App::t('Регистрация');?></a>
		        <? endif ?>
		    </div>

		    <hr class='clear'>
		</div>

		<div id='content'>
		    <?=$content;?>
	    </div>

	    <div id="fempty"></div>
    </div>

    <div id='footer'>
		<div class='float-left'>
            <a href="<?=utils\VarServer::indexPage();?>">
                <?=utils\VarServer::domain();?>
            </a> &copy; 7Lives, 2015
        </div>
		<div class='float-right'><small><?=core\App::t('Работает на');?> <i>Kira Engine v1.0</i></small></div>
	</div>

</body>
</html>