<?php
/**
 * int   $isOk  максимальный уровень сводки. Если не выше BRIEF_INFO, значит установки прошла вообще без проблем.
 * array $brief сводка по процессу создания приложения.
 */
?>
<h3>Поздравляю!</h3>

<p>Приложение <?= $isOk ? 'успешно' : 'почти успешно' ?> создано.
<?php if ($isOk) { ?>
    Посмотрите на <a href="/" target="_blank" title="сслыка откроется в новом окне">ваш сайт</a>.
<?php } else { ?>
    В сводке (см. ниже) есть предупреждения, вам придется обработать их вручную.
<?php } ?>
</p>

<div class="note info">
    Сейчас вы можете <a href="/install/rollback?confirm=yes">откатить процесс создания</a> или
    <a href="/install/rollback?confirm=no"><b>исключить такую возможность</b></a>. Крайне не рекомендую ее оставлять, если откат не нужен. Случайный вызов отката в будущем может снести весь ваш сайт!
</div>

<p>Рекомендации к дальнейшим действиям:</p>

<ul>
    <li>Определитесь с откатом.</li>
    <li>Если каталог <span class="inline-code">install/</span> вам больше не нужен, удалите его или как минимум закройте доступ паролем.</li>
    <li>Загляните в <span class="inline-code">.htaccess</span>. Обычно там ничего не нужно менять, но общее представление получить полезно.</li>
    <li>Посмотрите файлы конфигурации.</li>
    <li>Изучите ваш файл index.php</li>
    <li>Посмотрите пример приложения: организацию каталогов в нем, контроллеры, шаблоны и т.д.</li>
    <li><b>TODO </b>Посмотрите, как организованы каталоги и файлы языковой поддержки.</li>
</ul>

<?php $this->renderPartial('_brief', ['brief' => $brief]); ?>

<p>Удачи :)</p>
