<?php
/**
 * int   $isOk  максимальный уровень сводки. Если не выше BRIEF_INFO, значит установки прошла вообще без проблем.
 * array $brief сводка по процессу создания приложения.
 */
?>
<h3>Поздравляю!</h3>

<p>Приложение <?= $isOk ? 'успешно' : 'почти успешно' ?> создано.
<?php if ($isOk) { ?>
    Посмотрите на <a href="/" target="_blank" title="сслыка откроется в новом окне">ваш сайт</a>.
<?php } else { ?>
    В сводке (см. ниже) есть предупреждения, вам придется обработать их вручную.
<?php } ?>
</p>

<div class="note info">
    Сейчас вы можете <a href="/install/rollback?confirm=yes">откатить процесс создания приложения</a> или
    <a href="/install/rollback?confirm=no"><b>исключить возможность отката</b></a>. Крайне рекомендую выбрать второе, если откат не нужен, потому что случайный вызов отката в будущем может снести весь ваш сайт!
</div>

<p>Что делать дальше:</p>

<ul>
    <li>Определитесь с откатом.</li>
    <li>Если каталог <span class="inline-code">install/</span> вам больше не нужен, удалите его или как минимум закройте доступ паролем.</li>
    <li>Посмотрите файлы конфигурации.</li>
    <li>Изучите ваш файл <span class="inline-code">index.php</span></li>
    <li>Посмотрите пример приложения: организацию каталогов в нем, контроллеры, шаблоны и т.д.</li>
    <li>правило в файле <span class="inline-code">.htaccess</span> можно сделать лучше, посмотрите предложение в мануале к движку, документ "<i>Файловая организация</i>"</li>
</ul>

<?php $this->renderPartial('_brief', ['brief' => $brief]); ?>

<p>Удачи :)</p>
