<?php
/**
 * Сообщения юзеру от сервера
 */

/*
//Тесты
Session::addFlash('errAuth', 'Пример ошибки. <a href="">Пройдите в авторизацию</a>');
Session::addFlash('warnWtf', 'варнинг');
Session::addFlash('infoAccess', 'информационное');
Session::addFlash('warnAnother', '2й варнинг');
Session::addFlash('some', 'Просто сообщение');
*/

$flashes = utils\Session::readFlashes();

if($flashes) {
    ksort($flashes);
    //Есть 4 типа: ошибка, инфо и предупреждение (err, info, warn) и любое другое значение.
    $type = $curType = '';
    foreach ($flashes as $key => $msg) {

        if (preg_match('/^(err|info|warn)/ui', $key, $m)) {
            $curType = $m[1];
        } else {
            $curType = 'msg'; //общее значение. Подойдет любой непустой текст.
        }

        //если меняется тип сообщения
        if ($type != $curType) {
            if ($type) {
                echo '</div>'; //закрываем предыдущий блок
            }
            echo "<div class='user-flash uf-{$curType}'>";
            $type = $curType;
        }

        echo $msg . '<br>';
    }
    echo '</div>'; //закрываем последний блок
}
