<?
/**
 * Страница профиля пользователя
 * array $d данные по юзеру
 */
?>

<h4><?=engine\App::t('Профиль');?></h4>

<? $this->renderPartial('_flash'); ?>

<div class='float-right'>
	<img class='avatar' src="<?=$d['avatar'] ? : '/images/plug-user.png';?>" width='200px'>
</div>

<table>
    <col width='170'>
    <col width='450'>
    <tr>
        <td class='user-prop'><?=engine\App::t('Логин');?></td>
        <td class='user-value'><?=$d['login'];?></td>
    </tr>
    <tr>
        <td><?=engine\App::t('Email');?></td>
        <td class='user-value'>
            <?=$d['mail'];?>
            <?if ($d['status'] == 'new') {;?>
                <span class='error'><?=engine\App::t('не подтвержден');?></span>
                &nbsp;&nbsp;&nbsp;<a href="<?=$d['confirmUrl'];?>"><?=engine\App::t('исправить');?>
            <? } ?>
        </td>
    </tr>
    <tr>
        <td><?=engine\App::t('Имя');?></td>
        <td class='user-value'><?=$d['firstname'];?></td>
    </tr>
    <tr>
        <td><?=engine\App::t('Фамилия');?></td>
        <td class='user-value'><?=$d['secondname'];?></td>
    </tr>
    <tr>
        <td><?=engine\App::t('Пол');?></td>
        <td class='user-value'><?=engine\App::t($d['sex']);?></td>
    </tr>
    <tr>
        <td><?=engine\App::t('Дата рождения');?></td>
        <td class='user-value'><?=$d['birth_date'];?></td>
    </tr>
    <tr>
        <td><?=engine\App::t('Город проживания');?></td>
        <td class='user-value'><?=$d['town'];?></td>
    </tr>
</table>
