/* ---------- Reset -------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

/* Чуть подправил под свои нужды. */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    margin: 5px 0 5px 10px;
    list-style: disc;
}

li {
    margin-left: 10px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------ end of Reset --------------- */

body, input[type=text] {
    font: 13px/1.5em Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 170%;
    margin: 10px 0;
}

h4 {
    font-size: 135%;
    font-weight: bold;
    margin: 10px 0;
}

abbr { border-bottom: 1px dotted; }

p { margin: 10px 0; }

strong, b { font-weight: 700; }

em, i { font-style: italic; }

.float-left { float: left; }

.float-right { float: right; }

.clear-float { clear: both; }

/* Аналог bootstrap. Разница в том, что здесь не поддерживается адаптивная верстка. */
.cell-12 { width: 100%; }

.cell-11 { width: 91.66666667%; }

.cell-10 { width: 83.33333333%; }

.cell-9 { width: 75%; }

.cell-8 { width: 66.66666667%; }

.cell-7 { width: 58.33333333%; }

.cell-6 { width: 50%; }

.cell-5 { width: 41.66666667%; }

.cell-4 { width: 33.33333333%; }

.cell-3 { width: 25%; }

.cell-2 { width: 16.66666667%; }

.cell-1 { width: 8.33333333%; }

.cell-1, .cell-2, .cell-3, .cell-4, .cell-5, .cell-6, .cell-7, .cell-8, .cell-9, .cell-10, .cell-11, .cell-12 {
    float: left;
}

.pl-5 { padding-left: 5px; }

.mt-5 { margin-top: 5px; }

div.wrapper {
    max-width: 800px;
    margin: auto;
}

.note {
    padding: 5px;
    margin: 10px 0;
    border-left: 3px solid;
}

.note.info {
    background-color: rgba(24, 204, 200, 0.2);
    border-color: #0e52cc;
    color: #0e52cc;
}

.note.error {
    background-color: rgba(204, 12, 54, 0.15);
    border-color: #cc092d;
    color: #cc092d;
}

.note code {
    background-color: rgba(0, 0, 0, 0.06);
}

.row {
    background-color: #B2EEB2;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.row label:not([for$="-switch"]) {
    display: block;
}

/*---- Выровненный checkbox и текст ----*/
/*
 * Источник http://stackoverflow.com/a/306593/5497749
 * Важно, чтобы checkbox был внутри label. Иначе рвет шаблон.
 */
label.checkboxed {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    margin: 5px 0;
}

input[type='checkbox'] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

/*---- Конец Выровненный checkbox ----*/

.grayed { color: gray; }

input[type=text], input[type=password], input[type=email], .take-left, .with-select {
    height: 28px;
}

/* Размещение блока произвольной ширины слева от <input.text>. Сам <input> при этом займет все оставшееся
пространство. */
.take-left {
    float: left;
    height: 100%;
    margin: 7px 5px 7px 0;
}

.with-select { padding-top: 4px; }

input[type=text], input[type=password], input[type=email] {
    padding: 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border-color: #333;
}

.input-wrapper {
    overflow: hidden;
    height: 30px; /* input height + input border x2 */
}

input[type=submit] {
    margin-left: 10px;
    padding: 5px 15px;
    background: #00ccbc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.inline-code {
    background-color: rgba(0, 0, 0, 0.1);
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-radius: 3px;
    font-size: 90%;
    margin: 0;
    padding: 2px 3px;
}

#log-db-warn { color: red; }

.panel {
    position: relative;
    padding: 5px;
}

.panel .disable-items {
    /* background-color: rgba(255, 255, 255, 0.65);*/
    /* Permalink - use to edit and share this gradient:
     http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
    background: rgb(240, 249, 255); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(240, 249, 255, 0.65) 0%, rgba(151, 255, 169, 0.65) 35%,
    rgba(240, 249, 255, 0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(240, 249, 255, 0.65) 0%, rgba(151, 255, 169, 0.65) 35%,
    rgba(240, 249, 255, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(240, 249, 255, 0.65) 0%, rgba(151, 255, 169, 0.65) 35%,
    rgba(240, 249, 255, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f9ff', endColorstr='#a1dbff', GradientType=1);
    /* IE6-9 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
