<?php
/**
 * array $brief сводка по процессу создания приложения.
 */
use install\app\MasterService;

?>

<h4>Сводка</h4>

<table class="brief">
<?php foreach ($brief as $v):
    switch ($v['type']) {
        case MasterService::BRIEF_WARN:
            $type = 'warning';
            break;
        case MasterService::BRIEF_ERROR:
            $type = 'error';
            break;
        default:
            $type = '';
    }
    ?>
    <tr class="<?= $type ?>"><td><?= $v['message'] ?></td><td class="status"><?= $type ?: 'ok' ?></td></tr>

    <?php if ($v['type'] == MasterService::BRIEF_ERROR): ?>
        <tr colspan="2"><td>&nbsp;</td></tr>
    <?php endif ?>

<?php endforeach ?>
</table>
