<?php
/**
 * array $d данные полей формы. Многомерный массив, соответствующий своей структурой именам полей
 * array $errors ошибки, через <br>. Разобранные по блокам
 */
?>

<div class="note info">
    <p>Если ваш сайт будет переведен на несколько языков, здесь вы можете указать их коды. Будут созданы заготовки языковых пакетов:</p>

    <ul>
        <li>в каталоге приложения - подкаталог <span class="inline-code">i18n/</span>, в котором размещаются php-скрипты со "словарями". Один язык - один файл.</li>
        <li>в каталоге шаблонов - подкаталоги типа <span class="inline-code">i18n/&lt;lang&gt;/</span> для хранения статичных страниц сайта на разных языках.</li>
        <li>в каталоге с js-скриптами (который вы укажете ниже) - подкаталог <span class="inline-code">i18n/</span>, содержащий словари для перевода строк в javascript.</li>
    </ul>

    <p>При выборе кодов рекомендую использовать 2-xбуквенные обозначения языков стандарта <a
            href='https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes' target="_blank"
            title="Wikipedia. List of ISO 639-1 codes">ISO 639-1</a>.</p>
</div>

<?php if ($errors['lang']): ?>
    <div class="note error"><?= $errors['lang'] ?></div>
<?php endif ?>

<div class="row">
    <h4>Языковая поддержка</h4>

    <div>
        <label class="checkboxed" for="lang-switch">
            <input type="checkbox" name="lang[switch]" id="lang-switch"
                <?php if ($d['lang']['switch']) echo 'checked="checked"' ?>>
            включить
        </label>
    </div>

    <div class="panel">
        <div class="disable-items" id="lang-disabler"
            <?php if ($d['lang']['switch']) echo 'style="display:none;"'?>></div>

        <div class="cell-12">
            <div class="take-left required-star">
                Код основного языка: <strong>ru</strong>. Другие языки, через запятую
            </div>
            <div class="input-wrapper"><input type="text" name="lang[other]"
                    value="<?= $d['lang']['other'] ?>"></div>
        </div>

        <div class="cell-12">
            <label class="clear-float">
                Путь к js-скриптам приложения. В нем будет создан подкаталог [i18n/]</label>
            <div class="grayed take-left"><?= ROOT_PATH ?></div>
            <div class="input-wrapper">
                <input type="text" name="lang[js_path]" id="js-path" value="<?= $d['lang']['js_path'] ?>">
            </div>
        </div>

        <div class='clear-float'></div>
    </div>
</div>
